body {
    background-color: white;
    background-image: url("");
  }
  
  h1 {
    color: black;
    text-align: center;
    font-style: oblique;
    font-family: Georgia;
  }

  h2{
    font-style: oblique;
    color: black;
    text-align: center;
    font-weight: bold;
  }
  
  p {
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-align: justify;
  }
  
caption {
    font-weight: bolder; 
    font-size: 1em;
}
.my-para{
    font-family: Georgia;
    font-weight: bold;
    font-size: medium;
}

header{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto 48px;
    padding: 8px 0px;
}
.my-logo{
    display: flex;
    align-items:center ;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
}
.my-logo img{
    width: 184px;
}
.my-intro{
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-align: justify;
}
.wrapper{
    margin: auto 48px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    font-family: Georgia;
}



.nav-links a {
    text-decoration: none;
    color: black;;
    padding: 20px;
    font-family: Georgia;
}

.carousel-inner {
    height: 500px;
    width: 300px;
    background-position: center;
    text-align: center;

}

.carousel-caption{
    text-emphasis: none;
    text-align: justify;
}